@font-face {
  font-family: "AcidGrotesk";
  src: url("/fonts/AcidGroteskTP-Normal.otf")
    format("woff");
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url("/fonts/AcidGroteskTP-Bold.otf")
    format("woff");
  font-weight: bold;
}

html,body {
  font-family: "AcidGrotesk";
  background-color: #131415 !important;
}

.text-primary {
  color: #BBED55 !important;
  text-decoration-color: #BBED55 !important;
}

.text-white {
  color: #FFFFFF !important;
  text-decoration-color: #FFFFFF !important;
}

.text-light {
  color: #EAFFD9 !important;
}

.border-light {
  border-color: #eaffd966 !important;
}

.border-primary {
  border-color: #3B3C3F !important;
}

.background-primary {
  background-color: #131415 !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-decoration-color: none;
}

a:hover {
  text-decoration: underline;
}
